 # Application
ENVIRONMENT=Dev
SITE_DOMAIN=http://localhost

# APIs
LOCATIONIQ_API_KEY=your_locationiq_api_key

# PostgreSQL
POSTGRES_USER=crestr_dev
POSTGRES_PASSWORD=secure_hiking_password_2025
POSTGRES_DB=crestr_hiking

DATABASE_URI=postgresql://crestr_dev:secure_hiking_password_2025@db:5432/crestr_hiking?sslmode=require
LOCAL_DATABASE_URI=postgresql://crestr_dev:secure_hiking_password_2025@localhost:5432/crestr_hiking?sslmode=require

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASS=change_me
PGADMIN_PORT=5050

# Routing
GRAPH_PATH=graph_generation/cache/elevation_populated_igraph.pkl

# Umami
UMAMI_WEBSITE_ID=get_ID_from_umami
UMAMI_SCRIPT_URL=http://localhost:3000/script.js
UMAMI_DB_PASSWORD=change_this_to_a_strong_password
UMAMI_APP_SECRET=generate_a_long_random_secret