<!DOCTYPE html>
<html>
<head>
    
    <title>Login to Crestr</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/tokens.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/reset.css') }}">

    <!-- Page Specific CSS (auth.css)-->
    <link rel="stylesheet" href="{{ url_for('static', path='css/pages/auth.css') }}">

    <!-- Component / Layout CSS-->
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/components/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/components/theme-toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/components/error-toast.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Favicon-->
    <link rel="icon" href="https://images.crestr.co.uk/Crest-Logo.png" type="image/png">
</head>
<body>

    <div id="error-toast-container"></div>

    <!-- Navbar component -->
    <nav id="navbar" class="surface">
        <div id="left-nav-side" class="nav-sides">
            <div id="navbar-logo-container">
                <a href="https://crestr.co.uk" aria-label="Link to go to main landing page">
                    <img src="https://images.crestr.co.uk/Crest-Logo.png" id="navbar-logo-image" alt="Crest logo">
                </a>
            </div>
        </div>

        <div id="right-nav-side" class="nav-sides">

            <a href="javascript:history.back()" id="back-button" class="btn btn-ghost" aria-label="Link to go back to previous page">
                <i data-lucide="chevron-left"></i>
                Back
            </a>
        </div>
    </nav>

    <!-- Logging in components -->
    <div id="login-screen" class="auth-screen" style="display : flex">
        <div id="login_items" class="auth-card">
            <div class="login_field">
                <label id="login_validation_label" class="auth-validation-label"></label>
            </div>
            <div class="login_field">
                <input class="auth-field-input" type="text" id="login_username_entry" placeholder=" ">
                <label class="inner-entry-label" for="login_username_entry">Username</label>
            </div>
                <div class="login_field">
                <input class="auth-field-input" type="password" id="login_password_entry" placeholder=" ">
                <label class="inner-entry-label" for="login_password_entry">Password</label>
                <i class="fa-solid fa-eye"></i>
            </div>

            <button id="login_button" class="auth-button auth-primary-button">Login</button>

        </div>
        <div id="switch_to_register_container" class="auth-switch-container">
            <label for="switch_to_register_button" id="switch_to_register_lable" class="auth-switch-label">Don't have an account ? Register below</label>
            <button id="switch_to_register_button" class="auth-button auth-switch-button">Register</button>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', path=vite_asset('static/js/auth/auth-page.ts')) }}"></script>
<script>
    const apiLoginUrl = "/auth/login"
</script>
</html>